.FlexPai{
    text-align: left;
    display: block;
    margin: 80px ;
    font-weight: bold

 }


.factory{
    text-align: left;
    display: block;
    margin: 80px ;
    font-weight: bold
}
 .sobrenome{
    text-align: left;
    display: block;
   
    margin: 80px ;
    font-weight: bold
 }
 .quantity{
    text-align: left;
    display: block;
    margin: 80px ;
    font-weight: bold
 }
 .button{
    width: 80px;
    height: 20px;
    padding: 10; 
    color: #000;


 }
 .name{
    width: 80px;
    height: 20px;
    padding: 10; 
    color: #000;

 }
.ce{
    text-align: left;
    display: block;
    margin: 80px ;
    font-weight: bold
} 